@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
*{
    box-sizing: border-box;
}

ul {
    display: flex;
    flex-flow: row nowrap;
}

li{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}

body{
    margin: 0;
    font-family: 'Noto Serif', serif;
}

body h1{
    font-family: 'Unbounded', cursive;
}

ul li {
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
/*################### COMEÇO DO HEADER #######################*/
#navbar {
    width: 100%;
    background: rgb(251, 253, 255);
    color: rgb(0, 0, 0);
    height: 80px;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li :last-child{
    padding: 15px;
}

/*################### FIM DO HEADER #######################*/

/*################### COMEÇO DO HOME #######################*/


.ajt{
    margin-left: 10px;
    margin-right:1%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 55vh;
    justify-content: space-between;
}

.imagem1 {
    
    position: relative;
    display: flex;
}

.imagem1 a{
    display: flex;
}

.texto_meio{
    margin: 50px;
    padding: 150px;
}

.texto_meio p{
    text-align: center;
    font-size: 40px;
}

.linhapq{
    justify-content: center;
    padding: 0px 110px;
}
/*################### FIM DO HOME #######################*/

/*################### COMEÇO DO VISÃO #######################*/

.fundo_conteudo{
    background: rgb(209, 209, 208);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25vh 25vh 18vh;
justify-content: space-around;
}

.textos_desc{
    justify-content: space-around;
    justify-self: center;
    margin-left: 0px;
    margin-right: 150px;
    padding-bottom: 180px;
}

#empresa div{
}
.desc{
    padding:70px;
    justify-content: space-around;
    justify-self: center;
}
/*################### FIM DO VISÃO #######################*/

/*################### COMEÇO AREA DE SERVIÇOS #######################*/

.area_servicos{
    display: grid;
    grid-template-columns:1fr 4fr 4fr 4fr 4fr 4fr 4fr 1fr ;
    grid-template-rows: 8vh 10vh 25vh 25vh; 
}

.paragrafo{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 9;
    text-align: center;
}

.img_linha{
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 9;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 15px;    
}

.area-servico1{
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}

.area-servico1 a{
    display: flex;
    justify-items: center;
}

.area-servico1 p{
    font-size: 15px;
    text-align: center;
}

.area-servico-rows{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}


.area-servico-rows a{
    display: flex;
}

.area-servico-rows p{
    padding: 100px 0px 0px 0px;
    font-size: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.area-servico-rows a img{
    height: 100%;
    width: 100%;
    border-radius: 30%;

}


/*################### FIM DO SERVIÇOS #######################*/

/*################### COMEÇO DO  #######################*/


.fundo{
    display: grid;
    grid-template-columns: 1fr 6fr 4fr ;
    grid-template-rows: 50vh;
    background: rgb(212, 212, 212);
}

.container_texto{
    grid-column-start: 2;   
}

.sobre_nos_fundocinza{
    text-align: center;
    margin-top: 15px;
}

.img_abaixo{ 
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 15px;
    padding: 0px 0px 0px 325px;
}


.logogrande{
    padding-left: 200px;
    padding-top: 200px;
}

.ajustes_text_sobre{
    font-size: 30px;
}

.alinha_meio{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.img_abaixo_produtos{
    padding: 0px 46px 0px 0px;
}

.arp{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.arp2 li{
    padding: 20px;
}



.ajuste_img img{
    max-width: 100%;
    padding: 20px;
    border-radius: 20%;
    width: 400px;
    height: 300px;
}


.linha{
    display: flex;
    justify-content: space-around;
}

.w50{
    width: 50%;
    margin: 20px auto;
}
.w75{
    width: 75%;
    margin: 20px auto;
}

.w100{
    width: 90%;
    margin: 50px auto;
}


.contato{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}


.ajuste_img{
    max-width: 100%; 
}

.ajuste_ig{
    max-width: 100%;
    padding-left: 100px;
    width: 800px;
    height: 500px;
}


.ajustecontato{
    display: flex;
    justify-content: space-between;
}

.ajustecontato h5{
    font-size: 1.5rem;
}

.contatoaling{
    text-align: center;
    margin-top: 15px;
    padding-right: 80px;
}

.ajustecontatos1 h4{
    font-size: 1.5rem;
    justify-content: left;
    text-align: left;
}

.inputfield input{
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding: 0px 5px;
    border-bottom: 1px solid black;
}
.inputfield input:focus{
    outline: none;
}

.linhait{
    display: flex;
    justify-content: space-between;
}

.ajustemens{
    align-items: left;
    text-align: left;
    justify-content: left;
    padding: 50px 0px 0px 0px;
}

.botao{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.botao button{
    height: 50px;
    width: 100px;
    background-color: transparent;
    border: 2px solid gray;
}
.icons img{
    height: 80px;
    width: 80px;
}

.icons{
    padding-left: 500px;
}

.contatocontainer img{
    padding: 0%;
    height: 100%;
    width: 900px;
}

img{
    cursor: url(../img/ar-condicionado.cur), pointer;
}


.fundoinfo{
    margin-left: 10px;
    margin-right:1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 55vh;
    justify-content: space-between;
}

.imginfo {
    
    position: relative;
    display: flex;
}

.imginfo a{
    display: flex;

    padding: 40px 0px 0px 30px;
}

.coll{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
}

.rowsl{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.nm{
    display: flex;
    justify-content: space-around;
}

#container-detalhes{
    margin: 25px;
    font-size: 20pt;
}

#container-main{
    background-color: white;
    border-radius: 25px;
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 55vh;
}

#container-main img{
    width: 75%;
    border-radius: 20px;
}

#preco {
    margin-top: 70px;
}

.preco-original {
    display: flex;
    font-size: 14pt;
}
.outrosprodutos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
}


