@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
*{
    box-sizing: border-box;
}

ul {
    display: flex;
    flex-flow: row nowrap;
}

li{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}

body{
    margin: 0;
    font-family: 'Noto Serif', serif;
}

body h1{
    font-family: 'Unbounded', cursive;
}

ul li {
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
/*################### COMEÇO DO HEADER #######################*/
#navbar {
    width: 100%;
    background: rgb(251, 253, 255);
    color: rgb(0, 0, 0);
    height: 80px;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li :last-child{
    padding: 15px;
}

/*################### FIM DO HEADER #######################*/

/*################### COMEÇO DO HOME #######################*/


.navbar-home{
    margin: 20px;
    /* padding: 25px; */

}

.container-home{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-home{
    display: flex;
    justify-content: space-around;
}
.pts{
    padding: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img-home img{
    padding-top: 25px;
    height: 100%;
    width: 100%;
}
.txt-home{
    display: grid;
    grid-template-areas:
    "text-home"
    "img-home-txt";
    grid-area: "txt-home";
    text-align: center;
    align-items: center;
}

.txt-home h3{
    grid-area: "text-home";
    padding-left: 20px;
    text-align: center;
    font-size: 1.9em;
}
.txt-img-home{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

@media (max-width:1500px){
    .container-home{
        grid-template-columns: 1fr;
    }
    .img-home{
        height: 100%;
        height: 100%;
    }
    .txt-home{
        padding: 0px;
        margin: 0;
        text-align: left;
        grid-template-areas:
        "text-home"
        "img-home-txt";
    }
}

@media (max-width:650px){
    .container-home{
        grid-template-columns: 1fr;
    }
    .img-home{
        width: 100%;
        height: 100%;
    }
    .txt-home{
        padding: 0px;
        margin: 0;
        text-align: left;
    }
    .txt-home h3{
        font-size: 1.5em;
    }
    .pts{
        padding: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
/*################### FIM DO HOME #######################*/

/*################### COMEÇO DO VISÃO #######################*/

.navbar-visao{
    margin: 0;
    padding: 100px 50px 100px 100px;
    background-color: rgb(212, 212, 212);
}

.container-visao{
    display: grid;
    grid-template-areas: 
    "visao missao valores";
}

.visao{
    align-items: center;
    display: block;
    grid-area: "visao";
}

.visao h1{
    display: flex;
    justify-content: center;
}

.missao{
    align-items: center;
    display: block;
    grid-area: "missao";
}

.missao h1{
    display: flex;
    justify-content: center;
}

.valores{
    align-items: center;
    display: block;
    grid-area: "valores";
}

.valores h1{
    display: flex;
    justify-content: center;
}

.text-visao{
    padding-left: 20px;
}

@media (max-width: 1200px){
    .container-visao{
        display: grid;
        grid-template-areas: 
        "visao" 
        "missao"
        "valores";
    }
    
}
/*################### FIM DO VISÃO #######################*/

/*################### COMEÇO AREA DE SERVIÇOS #######################*/



.cabecalho-servicos{
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
}

.container-servicos{
    margin: 40px;
    align-items: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.container-servicos div{
    padding: 0px;
}

.container-servicos .txt-servicos p{
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.container-servicos .img-servicos img{
    border-radius: 20px;
    width: 300px;
    height: 200px;
}



@media (max-width: 1600px){
    .container-servicos{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;    
    }
  
}

@media (max-width: 1200px){
    .container-servicos{
        grid-template-columns: 1fr  1fr 1fr;
        grid-template-rows: 1fr;
    }
  
}

@media (max-width: 800px){
    .container-servicos{
        grid-template-columns: 1fr  1fr ;
        grid-template-rows: 1fr;
    }
  
}

@media (max-width: 600px){
    .container-servicos{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
    }
    .container-servicos .txt-servicos p{
        border: 1px solid black;
    }
    
}


/*################### FIM DO SERVIÇOS #######################*/

/*################### COMEÇO DO SOBRE NÓS #######################*/

.navbar-sobrenos{
    margin: 0;
    padding: 0;
    background-color: rgb(212, 212, 212);    
}

.container-sobrenos{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.texto-sobrenos{
    
    margin: 50px;
}

.titulo-sobrenos{

        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 1.5em;
    
}

.txt-sobrenos{
    padding-top: 20px;
    font-size: 1.4em;
}


.logo-sobrenos{
    padding-top: 25%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.7em;
}

@media (max-width: 1500px){
    .container-sobrenos{
        display: grid;
        grid-template-columns: 1fr;
    }

    .logo-sobrenos{
    padding: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.7em;
}
}

@media (max-width: 500px){
    .container-sobrenos{
        display: grid;
        grid-template-columns: 1fr;
    }

    .logo-sobrenos{
    padding: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.3em;
}

.txt-sobrenos{
    padding-top: 20px;
    font-size: 0.9em;
}


}

/*################### FIM DO SOBRE NÓS #######################*/
/*################### COMECO DOS PRODUTOS #######################*/

.imagem-produtos img{
    max-width: 100%;
    padding: 20px;
    border-radius: 20%;
    width: 100%;
    height: 100%;
}


.linha{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.linha div{
    padding: 15px;
}
.imagens-linha-produtos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30vh;
}
.w50{
    width: 50%;
    margin: 20px auto;
}
.w75{
    width: 75%;
    margin: 20px auto;
}

.w100{
    width: 90%;
    margin: 50px auto;
} 

.cabecalho-produtos{
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
}

@media (max-width:1450px){
    .imagens-linha-produtos{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}

@media (max-width:1210px){
    .imagens-linha-produtos{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:950px){
    .imagens-linha-produtos{
        grid-template-columns: 1fr 1fr;
    }
    .linha{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:650px){
    .imagens-linha-produtos{
        grid-template-columns: 1fr;
    }
    .linha{
        display: grid;
        grid-template-columns: 1fr;
    }
}
/*################### FIM DOS PRODUTOS #######################*/

/*################### COMECO DOS PRODUTOS #######################*/


.navbar-contato{
    background-color: rgb(212, 212, 212);    
}
.container-contato{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.cabecalho-contato{
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
}

.conteudo-contato{
    margin:20px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh;
}

.conteudo-contato  div{
    padding-left: 120px;
}

.mensagem{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.conteudo-mensagem{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.inputfield input{
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding: 0px 5px;
    border-bottom: 1px solid black;
}
.inputfield input:focus{
    outline: none;
}

.inputfield1 input{
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding: 0px 150px;
    border-bottom: 1px solid black;
}
.inputfield1 input:focus{
    outline: none;
}
.imagem-contato{
    width: 100%;
    height: 100%;
}

.mensagem1{
    align-items: center;
    text-align: center;
    justify-content: center;
}

@media (max-width: 1700px){
    .conteudo-contato{
        grid-template-columns:  1fr;
    }   
    .inputfield1 input{
        border: none;
        background-color: transparent;
        font-size: 18px;
        padding: 0px 130px;
        border-bottom: 1px solid black;
    }
    
    .mensagem1{
        margin-left: 160px;
        align-items: left;
        text-align: left;
        justify-content: left;
    }
}

@media (max-width: 1100px){
    .container-contato{
        display: grid;
        grid-template-columns: 1fr;
    }
}

/*################### FIM DOS CONTATO #######################*/

/*################### COMECO DOS DETALHES #######################*/

.container-detalhes{
    display: grid;
    grid-template-columns: 1fr 1fr;
}