#navbar{
    height: 170px;
}
#navbar-container {
    flex-direction: column; /*Usado pra deixar o menu em coluna*/
    padding: 10px 0;
}
.navcentral{
    height: 700px;
}



#empresa{
    height: 800px;
    flex-direction: column;
    grid-template-columns: 1fr;
    
    
}
