.container {
  margin: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.product img {
  width: 300px;
  height: auto;
  margin-bottom: 10px;
}

.product h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.product p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}

.product h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

.product button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.info{
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 150px; 
  margin-left: 150px;
  grid-template-rows: 55vh;
}
