.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .product-image {
    width: 50%;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  
  .product-details {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .product-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-details h2 {
    font-size: 18px;
    margin-top: 0;
  }
  
  .product-details p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .product-details form {
    display: flex;
    align-items: center;
  }
  
  .product-details label {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .product-details input {
    width: 50px;
    margin-right: 10px;
  }
  
  .product-details button {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .product-details button:hover {
    background-color: #0077A3;
  }
  